<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Praca Bez Granic</title>
  </head>
  <body>
    <h1>Wiatj {{username}}, to jest twoje konto</h1>
    <p>Tutaj kiedyś będą twoje posty</p>
    <form action="/logout" method="post">
      <input type="submit" value="Wyloguj">
    </form>
  </body>
</html>
