<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Praca bez granic!</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="main_div">
      <h1>Praca bez granic jest aktualnie w budowie</h1>
      <img id="starybulwy" src="img/starybulwy.png">
    </div>
  </body>
</html>
