<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Praca bez granic!</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="background-image">
      <div class="main">
        <h1>Witaj w pracabezgranic.pl</h1>
        <h3>Tu każdy ma prawo pracować</h3>
        <br><br>
        <a href="/offers">
          <button class="main_button" type="button" name="button">SZUKAM PRACY</button>
        </a>
        <div class="mobile_only">
          <br><br>
        </div>
        <a href="/register">
          <button class="main_button" type="button" name="button">SZUKAM PRACOWNIKÓW</button>
        </a>
      </div>
    </div>
  </body>
</html>
