<h1>Witaj na Pracabezgranic.pl</h1>
<p class="text">internetowym serwisie rekrutacyjnym wyłącznie dla niepełnosprawnych.</p>
<p>
	<a href="/offers"><button class="buttons-index">Szukam pracy</button></a>
	<a href="/login"><button class="buttons-index">Szukam pracowników</button></a>
</p>
