<link rel="stylesheet" href="/css/index.css" />
<h1>Witaj na Pracabezgranic.pl</h1>
<p>internetowym serwisie rekrutacyjnym wyłącznie dla osób niepełnosprawnych.</p>
<p>
	<a href="/offers"><button>SZUKAM PRACY</button></a>
	<a href="/login"><button>SZUKAM PRACOWNIKÓW</button></a>
</p>