<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1>Informacje</h1>
	<h3>Od autorów:</h3>

	<p class="description">
		Jesteśmy grupą uczniów Technikum Elektronicznego Nr 3 im. Żołnierzy Armii Krajowej „Żywiciel” w Warszawie. 
		Niniejszy projekt jest realizowany w ramach programu „Kreatywna Młodzież 2019”, w zakresie którego 
		zobowiązaliśmy się stworzyć prototyp serwisu internetowego dla osób niepełnosprawnych, mający na celu ułatwienie im znalezienia pracy.</p>
	
	<h3>Ekipa Pracabezgranic.pl to:</h3><br/>
	<div class="disability-A"><i class="contrast fas fa-code"></i></div>
	<div class="disability">Jakub Smolaga</div>
	<div class="disability-A"><i class="contrast fas fa-handshake"></i></div>
	<div class="disability">Radosław Relidzyński</div>
	<div class="disability-B"><i class="contrast fas fa-object-group"></i></div>
	<div class="disability">Konrad Harmasz</div>
	<div class="disability-B"><i class="contrast fas fa-images"></i></div>
	<div class="disability">Mikołaj Olczak</div>
</div>