<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1 class="contrast">Regulamin serwisu Pracabezgranic.pl</h1><br/>
	
	<h3 class="contrast">1. Postanowienia ogólne</h3>
	<p class="regulations contrast">1.1. Serwis Pracabezgranic.pl działa na zasadach określonych w niniejszym Regulaminie.</p>
	<p class="regulations contrast">1.2. Regulamin określa rodzaje i zakres usług świadczonych drogą elektroniczną przez serwis Pracabezgranic.pl, zasady świadczenia tych usług, warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną, a także tryb postępowania reklamacyjnego.</p>
	<p class="regulations contrast">1.3. Usługobiorca z chwilą podjęcia czynności zmierzających do korzystania z Usług Elektronicznych serwisu Pracabezgranic.pl, zobowiązany jest do przestrzegania postanowień niniejszego regulaminu.</p>
	<p class="regulations contrast">1.4. W sprawach nieuregulowanych w niniejszym regulaminie mają zastosowanie przepisy:</p>
	<p class="regulations-point contrast">1.4.1. Ustawy o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz. U. Nr 144, poz. 1204 ze zm.),
	<p class="regulations-point contrast">1.4.2. Ustawy o prawach konsumenta z dnia 30 maja 2014 r. (Dz. U. 2014 poz. 827),
	<p class="regulations-point contrast">1.4.3. Ustawy Kodeks cywilny z dnia 23 kwietnia 1964 r. (Dz. U. nr 16, poz. 93 ze zm.) oraz inne właściwe przepisy prawa polskiego.</p><br/>
	
	<h3 contrast">2. Definicje</h3>
	<p class="regulations contrast">2.1. Regulamin - niniejszy regulamin.</p>
	<p class="regulations contrast">2.2. Usługodawca – administracja serwisu Pracabezgranic.pl.</p>
	<p class="regulations contrast">2.3. Usługobiorca – osoba fizyczna, osoba prawna albo jednostka organizacyjna nieposiadająca osobowości prawnej, której ustawa przyznaje zdolność prawną korzystająca z Usługi Elektronicznej.</p>
	<p class="regulations contrast">2.4. Usługa elektroniczna – usługa świadczona drogą elektroniczną przez Usługodawcę na rzecz Usługobiorcy za pośrednictwem Strony.</p><br/>

	<h3 class="contrast">3. Rodzaj i zakres świadczonych usług elektronicznych</h3>
	<p class="regulations contrast">3.1. Usługodawca umożliwia za pośrednictwem strony www.pracabezgranic.pl korzystanie z Usług Elektronicznych.</p>
	<p class="regulations contrast">3.2. Świadczenie Usług Elektronicznych na rzecz Usługobiorców odbywa się na warunkach określonych w Regulaminie.</p><br/>

	<h3 class="contrast">4. Warunki świadczenia i zawiarania umów o świadczenie usług elektronicznych</h3>
	<p class="regulations contrast">4.1. Świadczenie Usług Elektronicznych określonych w rozdziale III pkt. 1 Regulaminu przez Usługodawcę jest nieodpłatne.</p>
	<p class="regulations contrast">4.2. Okres na jaki umowa zostaje zawarta:</p>
	<p class="regulations contrast">4.3. Usługobiorca zobowiązany jest do korzystania z serwisu w sposób zgodny z prawem i dobrymi obyczajami mając na uwadze poszanowanie dóbr osobistych i praw własności intelektualnej osób trzecich.</p>
	<p class="regulations contrast">4.4. Usługobiorca zobowiązany jest do wprowadzania danych zgodnych ze stanem faktycznym.</p>
	<p class="regulations contrast">4.5. Usługobiorcę obowiązuje zakaz dostarczania treści o charakterze bezprawnym.</p>
	<p class="regulations contrast">4.6. Wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym, którym posługuje się Usługodawca:</p>
	<p class="regulations-point contrast">4.3.1. komputer z dostępem do Internetu,</p>
	<p class="regulations-point contrast">4.3.2. dostęp do poczty elektronicznej,</p>
	<p class="regulations-point contrast">4.3.3. przeglądarka internetowa,</p>
	<p class="regulations-point contrast">4.3.4. włączenie w przeglądarce internetowej Cookies oraz Javascript.</p><br/>

	<h3 class="contrast">5. Tryb postępowania reklamacyjnego</h3>
	<p class="regulations contrast">5.1. Reklamacje związane ze świadczeniem Usług Elektronicznych przez Usługodawcę:</p>
	<p class="regulations-point contrast">5.1.1	Reklamacje związane ze świadczeniem Usług Elektronicznych za pośrednictwem serwisu Usługobiorca może składać za pośrednictwem poczty elektronicznej na adres: pomoc@pracabezgranic.pl</p>
	<p class="regulations-point contrast">5.1.2. W powyższej wiadomości e-mail, należy podać jak najwięcej informacji i okoliczności dotyczących przedmiotu reklamacji, w szczególności rodzaj i datę wystąpienia nieprawidłowości oraz dane kontaktowe. Podane informacje znacznie ułatwią i przyspieszą rozpatrzenie reklamacji przez Usługodawcę.</p>
	<p class="regulations-point contrast">5.1.3. Rozpatrzenie reklamacji przez Usługodawcę następuje niezwłocznie, nie później niż w terminie 14 dni.</p>
	<p class="regulations-point contrast">5.1.4. Odpowiedź Usługodawcy w sprawie reklamacji jest wysyłana na adres e-mail Usługobiorcy podany w zgłoszeniu reklamacyjnym lub w inny podany przez Usługobiorcę sposób.</p><br/>

	<h3 class="contrast">6. Własność intelektualna</h3>
	<p class="regulations contrast">6.1. Wszystkie treści zamieszczone na stronie internetowej pod adresem pracabezgranic.pl korzystają z ochrony prawno autorskiej i są własnością pracabezgranic.pl Usługobiorca ponosi pełną odpowiedzialność za szkodę wyrządzoną Usługodawcy, będącą następstwem użycia jakiejkolwiek zawartości strony pracabezgranic.pl, bez zgody Usługodawcy.</p>
	<p class="regulations contrast">6.2. Jakiekolwiek wykorzystanie przez kogokolwiek, bez wyraźnej pisemnej zgody Usługodawcy, któregokolwiek z elementów składających się na treść oraz zawartość strony pracabezgranic.pl stanowi naruszenie prawa autorskiego przysługującego Usługodawcy i skutkuje odpowiedzialnością cywilnoprawną oraz karną.</p><br/>

	<h3 class="contrast">7. Postępowania końcowe</h3>
	<p class="regulations contrast">7.1. Umowy zawierane za pośrednictwem Strony zawierane są zgodnie z prawem polskim.</p>
	<p class="regulations contrast">7.2. W przypadku niezgodności jakiejkolwiek części Regulaminu z obowiązującym prawem, w miejsce zakwestionowanego przepisu Regulaminu zastosowanie mają właściwe przepisy prawa polskiego.</p><br/><br/>

	
	<h3 class="contrast">Od autorów:</h3>

	<p class="description contrast">
		Jesteśmy grupą uczniów Technikum Elektronicznego Nr 3 im. Żołnierzy Armii Krajowej „Żywiciel” w Warszawie. 
		Niniejszy projekt jest realizowany w ramach programu „Kreatywna Młodzież 2019”, w zakresie którego 
		zobowiązaliśmy się stworzyć prototyp serwisu internetowego dla osób niepełnosprawnych.</p>
	
	<h3 class="contrast">Pracabezgranic.pl to:</h3><br/>
	
	<div class="disability-A"><i class="contrast fas fa-code"></i></div>
	<div class="disability">Jakub Smolaga</div>
	<div class="disability-A"><i class="contrast fas fa-handshake"></i></div>
	<div class="disability">Radosław Relidzyński</div>
	<div class="disability-B"><i class="contrast fas fa-object-group"></i></div>
	<div class="disability">Konrad Harmasz</div>
	<div class="disability-B"><i class="contrast fas fa-images"></i></div>
	<div class="disability">Mikołaj Olczak</div>
</div>