<link rel="stylesheet" href="/css/offer.css">
<div class="form">
	<h1>Informacje</h1>
	<h2>Od autorów:</h2>

	<p class="description">
		Jesteśmy grupą uczniów Technikum Elektronicznego Nr 3 im. Żołnierzy Armii Krajowej „Żywiciel” w Warszawie. 
		Niniejszy serwis internetowy jest realizowany w ramach programu „Kreatywna Młodzież 2019”, w zakresie którego 
		zobowiązaliśmy się stworzyć prototyp serwisu internetowego dla osób niepełnosprawnych, mający na celu ułatwienie im znalezienia pracy.

		Planujemy wkrótce stworzyć w pełni funkcjonalny serwis ogłoszeniowy, za pośrednictwem którego firmy zainteresowane rekrutacją osób 
		niepełnosprawnych będą zamieszczały w internecie swoje oferty pracy
	</p>
	
	<p class="description">
	<ul style="list-style-type:none">
		<li>Jakub Smolaga</li>
		<li>Konrad Harmasz</li>
		<li>Radek Relidzyński</li>
		<li>Mikołaj Olczak</li>
	</ul>
	</p>
</div>