<!DOCTYPE html>

<!--[if lt IE 9]>
	<html class="legacy">
<![endif]-->
<!--[if lte IE 8]>
	<html class="legacy">
<![endif]-->

<html lang="pl-PL">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" />
		<title>Pracabezgranic.pl</title>
	</head>
	<body>

		<!-- NAGŁÓWEK -->
		<div class="header">

			<!-- LOGO -->
			<a class="logo" href="/"><b>Pracabezgranic.pl</b>

			<!-- PRZYCISK MENU (TRYB MOBILNY) -->
			</a>

			<div class="icon" id="icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<!-- MENU -->
			<div class="menu" id="menu">
				<a href="">POWIĘKSZ CZCIONKĘ <img  style="margin-right:2vw" src="/img/font-big.png"/></a>
				<a href="">ZMIEŃ KONTRAST <img  style="margin-right:2vw" src="/img/contrast-on.png"/></a>
				{{#if loggedIn}} <a href="/dashboard">MOJE KONTO
				{{else}} <a href="/login">DLA FIRM
				{{/if}}
				<img style="margin-right:2vw" src="/img/login.png"/></a>
				<a href="">INFORMACJE <img src="/img/info.png"/></a>
			</div>
		</div>

		<!-- TREŚĆ -->
		<div class="container">
			{{{body}}}
		</div>

		<!-- STOPKA -->
		<div class="footer">&#169; 2019 ZSEIL</div>

		<script>

			<!-- MENU (TRYB MOBILNY) -->
			var x = document.getElementById("icon");
			var y = document.getElementById("menu");

			x.onclick = function(event) {
				x.classList.toggle('open');
				y.classList.toggle('open');
			}

		</script>
	</body>
</html>
