<!DOCTYPE html>

<!--[if lt IE 9]>
	<html class="legacy">
<![endif]-->
<!--[if lte IE 8]>
	<html class="legacy">
<![endif]-->

<html lang="pl-PL">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" />
		<title>Pracabezgranic.pl</title>
	</head>
	<body id="mymain">

		<!-- NAGŁÓWEK -->
		<div class="header">

			<!-- LOGO -->
			<a class="logo" href="/"><img src="/img/logo.png"/>Pracabezgranic.pl

			<!-- PRZYCISK MENU (TRYB MOBILNY) -->
			</a>

			<div class="icon" id="icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<!-- MENU -->
			<div class="menu" id="menu">
				<a class="menu-button">KONTRAST:
				</a><a class="contrast-1">A
				</a><a class="contrast-2">A
				</a><a class="contrast-3">A
				</a><a class="menu-button">CZCIONKA:
				</a><a class="font-1" href="javascript:void(0);" onclick="changemysize(1);">A
				</a><a class="font-2" href="javascript:void(0);" onclick="changemysize(4);">A
				</a><a class="font-3" href="javascript:void(0);" onclick="changemysize(6);">A
				</a>{{#if loggedIn}}<a class="menu-button" href="/dashboard">MOJE KONTO
				</a>{{else}}
				<a class="menu-button" href="/login">DLA FIRM
				{{/if}}
				</a><a><img src="/img/login.png"/>
				</a><a class="menu-button" href="">INFORMACJE
				</a><a><img src="/img/info.png"/>
				</a>
			</div>
		</div>

		<!-- TREŚĆ -->
		<div class="container">
			{{{body}}}
		</div>

		<!-- STOPKA -->
		<div class="footer">&#169; 2019 ZSEIL</div>

		<script>

			<!-- MENU (TRYB MOBILNY) -->
			var x = document.getElementById("icon");
			var y = document.getElementById("menu");

			x.onclick = function(event) {
				x.classList.toggle('open');
				y.classList.toggle('open');
			}
			
		</script>
		
		<script type="text/javascript">
		
			function changemysize(myvalue) {
				var div = document.getElementById("mymain");
				div.style.fontSize = myvalue + "vw";   
			}
			
		</script>
			

	</body>
</html>
