<!DOCTYPE html>

<!--[if lt IE 9]>
	<html class="legacy">
<![endif]-->
<!--[if lte IE 8]>
	<html class="legacy">
<![endif]-->

<html lang="pl-PL" class="contrast" id="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="/css/layout.css" />
		<title>Pracabezgranic.pl</title>
	</head>
	<body>

		<!-- NAGŁÓWEK -->
		<div class="header contrast contrast-header">

			<!-- LOGO -->
			<a class="logo contrast" href="/">Pracabezgranic.pl</a>

			<!-- PRZYCISK MENU (TRYB MOBILNY) -->
			<div class="icon" id="icon">
				<span class="X"></span>
				<span class="X"></span>
				<span class="X"></span>
				<span class="X"></span>
			</div>

			<!-- MENU -->
			<div class="menu" id="menu">
				<a class="menu-button contrast">KONTRAST:
				</a><a class="contrast-1" onclick="ContrastDefault();"><i class="fas fa-tint"></i>
				</a><a class="contrast-2" onclick="ContrastBlack();"><i class="contrast-reverse fas fa-tint"></i>
				</a><a class="contrast-3" onclick="ContrastYellow();"><i class="fas fa-tint"></i>
				</a><br class="mobile-only">

				<a class="menu-button contrast">CZCIONKA:
				</a><a class="font-1 contrast" onclick="FontDefault();">A
				</a><a class="font-2 contrast" onclick="FontMedium();">A
				</a><a class="font-3 contrast" onclick="FontLarge();">A
				</a><br class="mobile-only"/>

				{{#if loggedIn}}
				<a href="/dashboard"><i class="mobile-only contrast-icon fas fa-user-circle"></i>
				</a><a class="menu-button contrast" href="/dashboard">MOJE KONTO
				</a><a href="/dashboard"><i class="desktop-only contrast-icon fas fa-user-circle"></i>
				</a><br class="mobile-only"/>

				{{else}}
				<a href="/login"><i class="mobile-only contrast-icon fas fa-user-circle"></i>
				</a><a class="menu-button contrast" href="/login">DLA FIRM
				</a><a href="/login"><i class="desktop-only contrast-icon fas fa-user-circle"></i>
				</a><br class="mobile-only"/>

				{{/if}}
				<a href="/info"><i class="mobile-only contrast-icon fas fa-info-circle"></i>
				</a><a class="menu-button contrast" href="/info">INFORMACJE
				</a><a href="/info"><i class="desktop-only contrast-icon fas fa-info-circle"></i>
				</a>
			</div>
		</div>

		<!-- TREŚĆ -->
		<div class="container contrast-container">
			{{{body}}}
		</div>

		<!-- STOPKA -->
		<div class="footer">&#169; 2019 <span style="color:#006BB3">Pracabezgranic.pl</span></div>
		<script src="/js/utils.js"></script>
		<script src="/js/layout.js"></script>

	</body>
</html>
