<p>{{error}}</p>
<form action="/login" method="POST">
  <p>Email:</p> <input type="text" name="email" />
  <p>Hasło:</p> <input type="text" name="password" />
  <br><br>
  <input type="submit" value="Zaloguj się" />
</form>
<p>lub</p>
<a href="/register"><button>Utwórz konto</button></a>
