<link rel="stylesheet" href="/css/login.css" />
<h1 class="contrast">Logowanie do profilu pracodawcy</h1>
<form action="/login" method="POST">
	<div class="form contrast">
		<p>Adres email</p>
		<p><input class="contrast-input" type="email" id="fname" name="email" placeholder="Email"></p>
		<p>Hasło</p>
		<p><input class="contrast-input" type="password" id="lname" name="password" placeholder="Hasło"></p>
	</div>
	<p class="error contrast">{{error}}</p>
	<p><input class="contrast-button" type="submit" value="ZALOGUJ SIĘ"></p>
</form>
<p><a class="contrast" href="/register">lub utwórz nowe konto.</a></p>
