<h1>Dodaj nowe ogłoszenie</h1>
<div class="container-form">
	<form action="/newoffer" method="post">
		<p>Tytuł</p>
		<p><input type="text" name="title" /></p>
		<p>Opis</p>
		<p><textarea name="description" maxlength="2000"></textarea></p>
		<p>Miejscowość</p>
		<p><input type="text" name="city" /></p>
		<p>Email kontaktowy</p>
		<p><input type="email" name="email" /></p>
		<p>Branża</p>
		<select name="industry" style="margin-bottom:3vh">
			<option value="1">Architektura, budownictwo</option>
			<option value="2">Biotechnologia</option>
			<option value="3">Chemia</option>
			<option value="4">Doradztwo, consulting</option>
			<option value="5">Edukacja, szkolenia</option>
			<option value="6">Ekologia, energie odnawialne</option>
			<option value="7">Elektronika, elektrotechnika</option>
			<option value="8">Finanse, ubezpieczenia</option>
			<option value="9">Gastronomia</option>
			<option value="10">Handel hurtowy i detaliczny</option>
			<option value="11">Informatyka, IT, internet</option>
			<option value="12">Marketing, reklama</option>
			<option value="13">Media</option>
			<option value="14">Medycyna, farmacja</option>
			<option value="15">Motoryzacja</option>
			<option value="16">Nieruchomości</option>
			<option value="17">Ochrona środowiska</option>
			<option value="18">Paliwa, energia, gaz</option>
			<option value="19">Produkcja - inne</option>
			<option value="20">Rolnictwo</option>
			<option value="21">Rozrywka, kultura, sport</option>
			<option value="22">Sprzęt, maszyny, urządzenia</option>
			<option value="23">Transport, spedycja, logistyka</option>
			<option value="24">Turystyka, hotele</option>
			<option value="25">Usługi - inne</option>
			<option value="26">Inna branża</option>
		</select>
		<select name="workTime">
			<option value="1">Pełny Etat</option>
			<option value="2">Część Etatu</option>
			<option value="3">Praca Czasowa</option>
			<option value="4">Kontrakt</option>
		</select>

		<p>Czy może tu pracować osoba niewidoma? <input type="checkbox" name="blind" /></p>
		<p>Czy może tu pracować osoba niesłysząca? <input type="checkbox" name="deaf" /></p>
		<p>Czy może tu pracować osoba przemieszczająca się na wózku inwalidzkim? <input type="checkbox" name="wheelchair" /></p>
		<p class="padding">Czy może tu pracować osoba z ograniczoną sprawnością górnych kończyn? <input type="checkbox" name="upperbody" /></p>
		<p style="text-align:center"><input class="button" type="submit" value="Dodaj ogłoszenie" /></p>
  </form>
</div>
