<form action="/newoffer" method="post">
  <p>Tytuł</p>
  <input type="text" name="title">
  <p>Opis</p>
  <textarea name="description" rows="8" cols="80" maxlength="2000"></textarea>
  <p>Miasto</p>
  <input type="text" name="city">
  <p>Email kontaktowy</p>
  <input type="email" name="email">
  <p>Czy może tu pracować osoba niewidoma?</p>
  <input type="checkbox" name="blind">
  <p>Czy może tu pracować osoba niesłysząca?</p>
  <input type="checkbox" name="deaf">
  <p>Czy może tu pracować osoba przemieszczająca się na wózku inwalidzkim?</p>
  <input type="checkbox" name="wheelchair">
  <p>Czy może tu pracować osoba z ograniczoną sprawnością górnych kończyn?</p>
  <input type="checkbox" name="upperbody">

  <br><br>
  <input type="submit" value="Dodaj ogłoszenie">
</form>
