<link rel="stylesheet" href="/css/login.css" />
<h1 class="contrast">Rejestracja profilu pracodawcy</h1>
<form action="/register" method="POST">
	<div class="form">
		<p class="contrast">Nazwa firmy</p>
		<p><input class="contrast-input" type="text" name="username" placeholder="Nazwa Firmy" required></p>
		<p class="contrast">Adres email</p>
		<p><input class="contrast-input" type="email" name="email" placeholder="Email" required></p>
		<p class="contrast">Hasło</p>
		<p><input class="contrast-input" type="password" name="password" placeholder="Hasło" required></p>
		<p class="contrast">Numer telefonu</p>
		<p><input class="contrast-input" type="tel" onkeydown="return (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode==8 || event.keyCode==13" maxlength="9" name="phonenumber" placeholder="Numer telefonu" required></p>
		<p class="contrast">NIP</p>
		<p><input class="contrast-input" type="text" name="nip" placeholder="Numer NIP"/></p>
		<p class="contrast">REGON</p>
		<p><input class="contrast-input" type="text" name="regon" placeholder="Numer REGON"/></p>
	</div>
	<p class="error contrast">{{error}}</p>
	<p><input class="contrast-button" type="submit" value="UTWÓRZ KONTO"></p>
</form>
<p><a class="contrast" href="/login">lub zaloguj się na istniejące konto.</a></p>
