<h1>Rejestracja profilu pracodawcy</h1>
<div class="container-register">
	<form action="/register" method="POST">
		<p>Nazwa użytkownika</p>
		<p><input type="text" name="username" placeholder="Login"></p>
		<p>Adres email</p>
		<p><input type="text" name="email" placeholder="Email"></p>
		<p>Hasło</p>
		<p><input type="text" name="password" placeholder="Hasło"></p>
		<p>Numer telefonu</p>
		<p class="padding"><input type="text" name="phonenumber" placeholder="Numer telefonu"></p>
		<p class="error">{{error}}</p>
		<p><input class="button" type="submit" value="UTWÓRZ KONTO"></p>
	</form>
</div>
<p style="padding-bottom:5vh"><a class="link" href="/login">lub zaloguj się na istniejące konto.</a></p>
