<!DOCTYPE html>

<html lang="pl-PL" id="html">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css"  href="/css/styles2.css"/>
		<title>Pracabezgranic.pl</title>
	</head>
	<body>

		<!-- TREŚĆ -->
		<div class="container">
			<h1>Witaj na Pracabezgranic.pl</h1>
			<p>internetowym serwisie rekrutacyjnym dla osób niepełnosprawnych.</p>
			<div class="container-news">
				<div class="news">
					<p><i class="fas fa-project-diagram"></i></p>
					<p>Rozwijamy funkcjonalność serwisu</p>
				</div><div class="news">
					<p><i class="fas fa-shield-alt"></i></p>
					<p>Wdrażamy nowe zabezpieczenia</p>
				</div><div class="news">
					<p><i class="desktop-only far fa-file-alt"></i></p>
					<p>Sporządzamy niezbędną dokumentację</p>
				</div>
			</div>
			<p>Trwa modernizacja. Zapraszamy ponownie wkrótce.</p>
		</div>

		<!-- STOPKA -->
		<div class="footer">&#169; 2019 Pracabezgranic.pl</div>

	</body>
</html>
