.offer {
	display: flex;
	width: 90%;
	
	margin-left: 3vw;
	margin-bottom: 2vh;
	
	background: white;
	
	border-style: solid;
	border-width: 0.1vw;
	border-color: #006bb3;
	transition: box-shadow 0.2s;
}

.offer:hover {
	box-shadow: 0vw 0vw 2vh 0vh rgba(0,0,0,0.5);
}

/* --- Pozycja przycisków oferty --- */
.buttons-offer-container {
  width: 100%;
}
.buttons-offer-container *{
  float: right;
}

/* --- Przyciski oferty --- */
.buttons-offer {
	width: 15vw;
	height: 8vh;
	padding:0;

	border-style: solid;
	border-width: 0.1vw;
	border-color: #006bb3;

	color: #006bb3;
	font-weight: bold;
	font-size: 1.5vw;

	background: white;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {
	
	.buttons-offer {
		width: 30vw;
		height: 8vh;
		padding:0;
		margin-bottom: 3vh;
		border-width: 0.2vw;
		font-size: 4vw;
	}
	
}