/* GŁÓWNY KONTENER OFERTY */

.offer {
	display: flex;
	width: 65vw;

	margin-left: 2.5vw;
	margin-bottom: 1vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;
	
	background: #FFFFFF;
	transition: box-shadow 0.2s;
}

.offer:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* INFORMACJE O OFERCIE */

.offer-A {
	width: 55rem;
	padding: 1vw;
}

.offer-title {
	color:#006BB3;
	font-size: 2rem;
	margin-left: 1vw;
}

.offer-info {
	color: #777777;
	font-size: 1rem;
}

i {
	margin-left: 1vw;
}


/* PRZYCISKI OFERTY */
.offer-B {
	padding: 0.5vw;
	width: 10vw;
}

.button-edit {
	width: 9vw;
	height: 3rem;
	margin-bottom: 0.5vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

.button-delete {
	width: 9vw;
	height: 3rem;
	margin-top: 0.5vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #FF0000;

	color: #FF0000;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

/* FORMATOWANIE TEKSTU */

h1 {
	color: #006BB3;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;

	padding-top: 2vw;
	padding-bottom: 3vw;
	
	margin:0;
	margin-left: 5vw;
	margin-right: 5vw;
}

h2 {
	color: #006BB3;
	font-size: 2rem;
	font-weight: normal;
	
	padding-bottom: 2vw;
	padding-left: 2.5vw;
	margin: 0;
}

p {
	font-size: 1.5rem;
	padding: 0;
}


/* PRZYCISK [DODAJ OGŁOSZENIE]  i [WYLOGUJ] */

.button {
	width: 20rem;
	height: 5rem;
	margin-top: 1vw;
	padding: 0;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

.mobile-only {
	display: none;
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {

	/* GŁÓWNY KONTENER OFERTY */

	.offer {
		width: 90vw;
		margin-bottom: 2vw;
	}

	/* INFORMACJE O OFERCIE */

	.offer-A {
		width: 75rem;
		padding: 1vw;
	}

	.offer-title {
		font-size: 5.5rem;
		margin-left: 0;
	}

	.offer-info {
		color: #777777;
		font-size: 3.5rem;
	}

	i {
		margin-left: 1.5vw;
	}


	/* FORMATOWANIE TEKSTU */

	h1 {
		font-size: 6rem;
		padding-top: 5vw;
		padding-bottom: 2vw;
		
		margin:0;
		margin-left: 5vw;
		margin-right: 5vw;
	}

	h2 {
		font-size: 3.5rem;
		padding-top: 5vw;
	}

	p {
		font-size: 3rem;
	}

	/* PRZYCISK [DODAJ OGŁOSZENIE]  i [WYLOGUJ] */

	.button {
		width: 60rem;
		height: 15rem;
		font-size: 4rem;

	}
	
	.mobile-only {
		display: block;
	}
	
}
