/* FORMATOWANIE TEKSTU */

h1 {
	color: #006BB3;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
	
	padding-top: 2vw;
	padding-bottom: 3vw;
	
	margin:0;
	margin-left: 2vw;
	margin-right: 2vw;
}

p {
	font-size: 1.5rem;
	text-align: center;
	
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 0;	
}

.buttons {
	text-align: center;
	padding: 0;	
}

/* PRZYCISKI [SZUKAM PRACY] i [SZUKAM PRACPWNIKÓW] */

button {
	width: 28vw;
	height: 5rem;
	
	margin: 5vw 2vw;
	padding: 0;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006bb3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.7rem;
	
	-webkit-transition: box-shadow 0.1s;
	-moz-transition: box-shadow 0.1s;
	-o-transition: box-shadow 0.1s;
	transition: box-shadow 0.1s;
	
	background: white;
	cursor: pointer;
}

button:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {
	
	/* FORMATOWANIE TEKSTU */
	
	h1 {
		font-size: 7rem;
		padding-top: 5vw;
	}

	p {
		font-size: 4.5rem;
		margin-left: 9vw;
		margin-right: 9vw;
	}
	
	/* PRZYCISKI [SZUKAM PRACY] i [SZUKAM PRACPWNIKÓW] */
	
	button {
		width: 90vw;
		height: 20vw;
		
		margin-top: 2.5vw;
		margin-bottom: 2.5vw;
		
		font-size: 5rem;
		border-width: 0.2rem;
	}
}
