/* KONTENER FORMULARZA */

.form {
	width: 20vw;
	margin: 0 auto;
}

.form p {
	font-size: 1.5rem;
	text-align: left;
	
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;

}

/* FORMATOWANIE TEKSTU */

h1 {
	color: #006BB3;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
	
	padding-top: 2vw;
	padding-bottom: 3vw;
	margin:0;
}

p {
	font-size: 1.2rem;
	text-align: center;
}

a {
	color: #006BB3;
	font-size: 1.2rem;
	text-decoration: none;
}

.error {
	height: 3vw;
	color: red;
	font-size: 1.2rem;
	text-align: center;
}

/* POLA TEKSTOWE */

input {
	width: 20vw;
	font-family: Segoe UI Light;
	font-size: 1rem;
	padding: 0.5vw;
	margin-bottom: 1vw;
	outline: none;
	
	border-style: solid;
	border-width: 0.1vw;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}

input:focus {
	border-color: #006BB3;
}
input:hover {
	border-color: #006BB3;
}

::placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}

/* PRZYCISKI [ZALOGUJ] i [ZAREJESTRUJ] */

input[type=submit]{
	width: 15rem;
	height: 4rem;
	padding: 0;

	border-style: solid;
	border-width: 0.1vw;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

input[type=submit]:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {
	
	/* KONTENER FORMULARZA */
	
	.form {
		width: 80vw;
		margin: 0 auto;
	}

	.form p {
		font-size: 5rem;
		text-align: left;
		margin-top: 2vw;
	}
	
	/* FORMATOWANIE TEKSTU */
	
	h1 {
		font-size: 6rem;
		padding-top: 5vw;
		padding-bottom: 5vw;
	}

	p {
		text-align: center;
		font-size: 5vw;
		padding: 0;
	}
	
	a {
		font-size: 5rem;
	}
	
	.error {
		height: 9vw;
		margin-top: 5vw;
		font-size: 5rem;
	}
	
	/* POLA TEKSTOWE */
	
	input {
		width: 80vw;
		font-size: 5rem;
		padding: 2vw;
		border-width: 0.2vw;
	}
	
	::placeholder {
		font-size: 5rem;
	}
	
	/* PRZYCISK [ZALOGUJ] */
	
	input[type=submit]{
		width: 80vw;
		height: 20vw;
		margin: 0;
		font-size: 5rem;
		border-width: 0.2vw;
	}
}
