/* KONTENER PÓL TEKSTOWYCH */

.form-A {
	margin: 0 auto;
	width: 30rem;
}

.form-A p {
	font-size: 1.5rem;
	text-align: left;
	margin-top: 1vw;
	margin-bottom:1vh;
}

/* KONTENER PÓL WYBORU */

.form-B {
	margin: 0 auto;
	width: 45rem;
	margin-top: 2vw;
}

.form-B p {
	font-size: 1.5rem;
	text-align: left;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

/* FORMATOWANIE TEKSTU */

h1 {
	color: #006BB3;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
	
	padding-top: 2vw;
	padding-bottom: 3vw;
	margin: 0;
}

/* POLA TEKSTOWE */

input {
	width: 30rem;
	margin-bottom: 1vw;
	
	font-family: Segoe UI Light;
	font-size: 1rem;
	padding: 0.5vw;
	outline: none;
	
	border-style: solid;
	border-width: 0.1rem;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}

input:focus {
	border-color: #006BB3;
}
input:hover {
	border-color: #006BB3;
}

::placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}
::-webkit-input-placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}
::-moz-placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}
:-moz-placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}
:-ms-input-placeholder {
	color: #CCCCCC;
	font-family: Segoe UI Light;
	font-size: 1rem;
}

/* POLA KOMBI */

select {
	width: 30rem;
	margin-bottom: 1vw;
	
	font-size: 1rem;
	font-family: Segoe UI Light;
	padding: 0.5vw;
	outline: none;
	
	border-style: solid;
	border-width: 0.1rem;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}

select:focus {
	border-color: #006BB3;
}
select:hover {
	border-color: #006BB3;
}

/* POLE OPISU */

textarea {
	width: 30rem;
	height: 20rem;
	margin-bottom: 1vw;
	
	font-family: Segoe UI Light;
	font-size: 1rem;
	padding: 0.5vw;
	outline: none;
	
	border-style: solid;
	border-width: 0.1rem;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}

textarea:focus {
	border-color: #006BB3;
}
textarea:hover {
	border-color: #006BB3;
}

/* POLA WYBORU */

input[type=checkbox]{
	width: 1rem;
	height: 1rem;
	margin:0;
	margin-right: 1vw;
	cursor: pointer;
}

/* PRZYCISK [DODAJ / ZAPISZ OGŁOSZENIE] */

input[type=submit]{
	width: 20rem;
	height: 5rem;
	padding: 0;
	margin-top: 4vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;
	
	-webkit-transition: box-shadow 0.1s;
	-moz-transition: box-shadow 0.1s;
	-o-transition: box-shadow 0.1s;
	transition: box-shadow 0.1s;
	
	background: white;
	cursor: pointer;
}

input[type=submit]:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {
	
	/* KONTENER FORMULARZA */
	
	.form-A {
		width: 80vw;
	}

	.form-A p {
		font-size: 5vw;
		text-align: left;
		margin-top: 2vh;
	}
	
	
	/* KONTENER PÓL WYBORU */

	.form-B {
		width: 80vw;
		margin-top: 5vh;
	}

	.form-B p {
		font-size: 5vw;
		margin-top: 3vh;
		margin-bottom:2vh;
	}
	
	/* FORMATOWANIE TEKSTU */
	
	h1 {
		font-size: 6vw;
		padding-top: 3vh;
		padding-bottom: 3vh;
	}

	p {
		text-align: center;
		font-size: 5vw;
		padding: 0;
	}
	
	.error {
		margin-top: 3vh;
		font-size: 5vw;
	}
	
	/* POLA TEKSTOWE */
	
	input {
		width: 80vw;
		font-size: 5vw;
		padding: 2vw;
		border: 0.2vw solid #ccc;
	}
	
	::placeholder {
		font-size: 5vw;
	}
	
	/* POLA KOMBI */

	select {
		width: 80vw;
		font-size: 5vw;
		padding: 2vw;
		border: 0.2vw solid #ccc;
	}
	
	/* POLE OPISU */
	
	textarea {
		width: 80vw;
		height: 40vh;
		font-size: 5vw;
		padding: 2vw;
		border: 0.2vw solid #ccc;
	}
	
	/* POLA WYBORU */

	input[type=checkbox]{
		width: 4vw;
		height: 3.5vh;
		margin:0;
		margin-right: 1vw;
		
		cursor: pointer;
	}
	
	/* PRZYCISK [DODAJ OGŁOSZENIE] */
	
	input[type=submit]{
		width: 75vw;
		height: 20vw;
		font-size: 5rem;
		border-width: 0.2vw;
		
		margin-top: 5vw;
		margin-bottom: 5vw;
		margin-left: 2.5vw;
	}
}
