/* SEKCJA FILTROWANIA */

.filter {
	margin: 0 auto;
	width: 70vw;
	height: 7rem;
	padding: 2vw;
	background: #FFFFFF;
	box-shadow: 0vw 0.5vw 0.5vw 0vh lightgrey;
	transition: 0.1s;
}

.filter-A {
	float: left;
	margin-left: 2vw;
}

.filter-B {
	float: right;
	margin-top: 1.5vw;
	margin-right: 3vw;
	color: #006BB3;
	font-size: 3rem;
}

.filter.open {
	height: 25rem;
}

.filter p {
	font-size: 1.2rem;
}

/* UKRYJ / POKAŻ FILTRY */

form {
	display: none;
}

form.open {
	display: block;
}

/* KONTENER PÓL FORMULARZA */

.form {
	display: inline-block;
	margin-top: 1vw;
}

/* FORMATOWANIE TEKSTU */

h1 {
	color: #006BB3;
	font-size: 2.5rem;
	font-weight: normal;
	
	padding-top: 1.8vw;
	padding-bottom: 1vw;
	margin: 0;
}

p {
	margin: 0;
	margin-top: 1vw;
}

/* POLE TEKSTOWE [MIASTO] */

input[type=text]{
	width: 25vw;
	font-family: Segoe UI Light;
	font-size: 1.2vw;
	padding: 0.5vw;
	outline: none;
	
	border-style: solid;
	border-width: 0.1vw;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}

input:focus {
	border-color: #006BB3;
}
input:hover {
	border-color: #006BB3;
}

::placeholder {
	color: #000000;
	font-family: Segoe UI Light;
	font-size: 1.2vw;
}

/* POLA KOMBI [BRANŻA] i [WYMIAR] */

select {
	width: 20.1vw;
	font-size: 1.2vw;
	font-family: Segoe UI Light;
	margin-left: 0.2vw;
	padding: 0.5vw;
	outline: none;

	border-style: solid;
	border-width: 0.1vw;
	border-color: #CCCCCC;
	
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}

select:focus {
	border-color: #006BB3;
}
select:hover {
	border-color: #006BB3;
}

/* POLA WYBORU */

input[type=checkbox]{
		display: inline-block;
	width: 1vw;
	height: 1vw;
	margin:0;
	margin-right: 0.5vw;
	cursor: pointer;

}

/* PRZYCISK [POKAŻ] */

button {
	width: 10rem;
	height: 4vw;
	margin-top: 3vh;
	padding: 0;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: white;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

button:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* PRZYCISK [FILTRUJ OFERTY] */

input[type=submit] {
	float:right;
	width: 15rem;
	height: 4rem;
	padding: 0;
	margin-top: 7.5vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	color: #006BB3;
	font-family: Segoe UI Light;
	font-weight: bold;
	font-size: 1.5rem;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

input[type=submit]:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

/* KONTENER OFERT */

.offers {
	margin: 0 auto;
	width: 65vw;
	margin-top: 2vw;
}

/* OFERTA */

.offer {
	padding: 1vw;
	margin-top: 1vw;

	border-style: solid;
	border-width: 0.1rem;
	border-color: #006BB3;

	background: #FFFFFF;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

.offer i {
	margin-left: 1vw;
}

.offer:hover {
	box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
}

.mobile-only {
	display: none;
}

.offer-info {
	color: #777777;
	font-size: 1rem;
}

.offer-title {
	color:#006BB3;
	font-size: 2rem;
	margin-left:1vw;
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {

	/* SEKCJA FILTOWANIA */

	.filter {
		width: 95vw;
		height: 18vw;
		box-shadow: 0vw 1vw 1vh 0vh lightgrey;
	}

	.filter-B {
		margin-top: 3.5vw;
		font-size: 8rem;
	}
	
	.filter.open {
		height: 120rem;
	}
	
	.form p {
		font-size: 4rem;
	}
	
	/* FORMATOWANIE TEKSTU */
	
	h1 {
		font-size: 6vw;
		margin-top: 3vw;
	}

	p {
		margin-top: 2vw;
	}

	/* POLE TEKSTOWE [MIASTO] */
	
	input[type=text]{
		width: 90vw;
		font-size:4rem;
		padding: 2vw;
		border-width: 0.2rem;
	}

	::placeholder {
		font-size: 4rem;
	}
	
	/* POLA KOMBI [BRANŻA] i [WYMIAR] */
	
	select {
		width: 90vw;
		font-size: 4rem;
		padding: 2vw;
		margin-top: 3vh;
		border-width: 0.2rem;
	}

	/* POLA WYBORU */

	input[type=checkbox]{
		width: 3rem;
		height: 3rem;
		margin-right: 2vw;
	}
	
	/* PRZYCISK [POKAŻ] */

	button {
		width: 25vw;
		height: 12vw;
		margin-top: 3vw;
		font-size: 4vw;
		border-width: 0.2rem;
	}
	
	/* PRZYCISK [FILTRUJ OFERTY] */
	
	input[type=submit]{
		float: none;
		width: 90vw;
		height: 20vw;
		
		margin-top: 5vw;
		margin-bottom: 5vw;
		font-size: 5rem;
		border-width: 0.2vw;
	}
	
	/* KONTENER OFERT */
	
	.offers {
		width: 90vw;
		margin-top: 4vh;
		
	}
	
	/* OFERTA */

	.offer {
		padding: 2vw;
		margin-top: 5vw;
	}

	i {
		margin: 1.5vw;
	}

	.offer:hover {
		box-shadow: 0vw 0vw 0.5vw 0vw rgba(0,0,0,0.5);
	}

	.offer-info {
		font-size: 3.5rem;
	}

	.offer-title {
		font-size: 5.5rem;
		margin-left:0vw;
	}
	
	.mobile-only {
		display: inline-block;
	}
}