/* KONTENERY TREŚCI */

.form {
	width: 60vw;
	margin: 0 auto;
}

.info-A {
	display: inline-block;
	width: 11vw;
}

.info-B {
	display:inline-block;
}

.disability-A {
	display: inline-block;
	padding-right: 1vw;
}

.disability-A img {
	width: 2vw;
	margin-bottom: -0.6vw;
}

.disability-B {
	display: inline-block;
	padding-right: 1vw;
}

.disability-B img {
	width: 2vw;
	margin-bottom: -0.6vw;
}

.disability {
	display: inline-block;
	width: 55vw;
	margin-bottom: 1vw;
}

/* FORMATOWANIE TEKSTU */

h1 {
	color: #006bb3;
	font-size: 2.5vw;
	font-weight: normal;
	text-align: center;
	
	padding-top: 2vw;
	padding-bottom: 1vw;
	margin: 0;
}

h2 {
	color: #006bb3;
	font-size: 2vw;
	font-weight: normal;
	text-align: center;
	padding-bottom: 2vw;
	margin: 0;
}

p {
	font-size: 1.5vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.description {
	text-align: justify;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {
	
	/* KONTENERY TREŚCI */
	
	.form {
		width: 80vw;
	}

	.info-A {
		width: 25vw;
	}

	.disability-A {
		padding-right: 2vw;
	}

	.disability-A img {
		width: 5vw;
		margin-bottom: -1.1vw;
	}
	
	.disability-B {
		padding-right: 2vw;
	}

	.disability-B img {
		width: 5vw;
		padding-bottom: 3.5vw;
	}

	.disability {
		width: 70vw;
		font-size: 3vw;
		margin-bottom: 2vw;
	}
	
	/* FORMATOWANIE TEKSTU */
	
	h1 {
		font-size: 6vw;
		padding-top: 3vh;
		padding-bottom: 3vh;
	}
	
	h2 {
		font-size: 3.5vw;
		text-align: left;
		padding-top: 3vh;
		padding-bottom: 1vw;
	}
	
	p {
		font-size: 3vw;
	}

	.description {
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
}
