* {
	box-sizing: border-box;
}

body {
    margin:0;
	font-family: Segoe UI Light, Tahoma, Sans-serif;
	background: url("/img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* POCZĄTEK NAGŁÓWKA */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 2vh;
	padding-bottom: 3vh;
	background-color: white;
	box-shadow: 0vw 0vw 1vh grey;
}

.logo {
	float: left;
	margin-left: 10vw;

	color: #006bb3;
	font-size: 2.5vw;
	font-weight: bold;
	text-decoration: none;
}

.menu {
	float: right;
	margin-top: 1.5vh;
	margin-right: 10vw;
}

/* Przyciski menu */
.menu a {
	display: inline-block;

	color: black;
	font-size: 1.2vw;
	text-decoration: none;
	transition: color 0.2s
}

/* Przyciski menu pod kursorem */
.menu a:hover {
	color: #006bb3;
}

/* Ikony przycisków menu */
.menu img {
	width: 2vw;
	padding-left: 0.3vw;
	margin-bottom: -0.9vh;
}
/* KONIEC NAGŁÓWKA */

/* ZAWARTOŚĆ */

/* Główny kontener zawartości strony */
.container {
	width: 70vw;

	margin: 0 auto;
	margin-top: 20vh;

	background-color: rgba(255,255,255,0.9);
	box-shadow: 1vw 1vw 0.8vw 0vw rgba(0,0,0,0.3);
	padding-bottom: 5vh;
}

/* Pod-kontener dla formularzy */
.container-form {
	width: 50vw;
	margin: 0 auto;
}

.container-form p {
	text-align:left;
}

/* Pod-kontener dla wąskich formularz */
.container-register {
	width: 20vw;
	margin: 0 auto;
}

.container-register p {
	text-align:left;
}

/* Stopka */
.footer {
	width: 80vw;
	margin: 10vh 10vw;
	font-size: 1vw;
}

/* PRZYCISKI */

/* Przyciski (index.hbs) */
.buttons-index {
	width: 25vw;
	height: 10vh;
	margin-top:10vh;
	margin-bottom:8vh;
	margin-left:2vw;
	margin-right:2vw;
	padding:0;

	border-style: solid;
	border-width: 0.1vw;
	border-color: #006bb3;

	color: #006bb3;
	font-weight: bold;
	font-size: 2vw;

	background: white;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

/* Przyciski pod kursorem (index.hbs) */
.buttons-index:hover {
	box-shadow: 0vw 0vw 2vh 0vh rgba(0,0,0,0.5);
}

/* Przyciski */
.button {
	width: 15vw;
	height: 8vh;
	padding:0;

	border-style: solid;
	border-width: 0.1vw;
	border-color: #006bb3;

	color: #006bb3;
	font-weight: bold;
	font-size: 1.5vw;

	background: white;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

/* Przyciski pod kursorem */
.button:hover {
	box-shadow: 0vw 0vw 2vh 0vh rgba(0,0,0,0.5);
}

/* FORMULARZE */

form {
	margin-top: 5vh
}

/* Pola tekstowe */
input[type=text] {
	width: 20vw;
	font-size:1vw;
	padding: 1vw 1vw;
	border: 0.1vw solid #ccc;
	-webkit-transition: border 0.2s;
	transition: border 0.5s;
	outline: none;
}

/* Aktywne pola tekstowe */
input[type=text]:focus {
	border: 0.1vw solid #006bb3;
}

/* Domyślnye wartości pól tekstowych */
::placeholder {
	color: #ccc;
	font-family: Segoe UI Light;
	font-size: 1vw;
}

/* Pola tekstowe (email) */
input[type=email] {
	width: 20vw;
	font-size:1vw;
	padding: 1vw 1vw;
	border: 0.1vw solid #ccc;
	-webkit-transition: border 0.2s;
	transition: border 0.5s;
	outline: none;
}

/* Aktywne pola tekstowe (email) */
input[type=email]:focus {
	border: 0.1vw solid #006bb3;
}

/* Pola tekstowe (newoffer.hbs) */
.newoffer input[type=text] {
	width: 20vw;
	font-size:1vw;
	padding: 1vw 1vw;
	border: 0.1vw solid #ccc;
	-webkit-transition: border 0.2s;
	transition: border 0.5s;
	outline: none;
}

/* Akywne pola tekstowe (newoffer.hbs) */
.newoffer input[type=text]:focus {
	border: 0.1vw solid #006bb3;
}

/* Pola opisu */
textarea {
	width: 50vw;
	height:20vh;
	font-size:1vw;
	font-family: Segoe UI;
	padding: 1vw 1vw;
	border: 0.1vw solid #ccc;
	-webkit-transition: border 0.2s;
	transition: border 0.5s;
	outline: none;
}

/* Aktywne pola opisu */
textarea:focus {
	border: 0.1vw solid #006bb3;
}

/* FORMATOWANIE TEKSTU */

/* Nagłówki */
h1 {
	color: #006bb3;
	font-size: 2.5vw;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 3vh;
	margin:0;
}

/* Tekst */
p {
	text-align: center;
	font-size: 1.5vw;
	padding: 0;
}

/* Tekst na końcu kontenera */
.padding {
	padding-bottom:5vh;
}

/* Linki */
.link {
	text-decoration: none;
	font-size:1.2vw;
	color: #006bb3;
}

/* Komunikaty błędów */
.error {
	margin-top: 5vh;
	margin-bottom: 5vh;
	font-size:1.2vw;
	color:#ff0000;
}

/* --- WERSJA DLA IE8 I NIŻEJ --- */

.legacy .header {
	box-shadow: 0px 0px 1px lightgrey;
}

.legacy .logo {
	font-size:200%;
	width:30%;
}

.legacy .menu {
	width:70%;
}

.legacy .menu a {
	margin-top:4.5%;
	margin-left:2.8%;
	font-size:70%;
}

/* FORMATOWANIE TEKSTU */

.legacy h1 {
	font-size:90%;
}

.legacy p {
	font-size:70%;
}


/* --- WERSJA MOBILNA --- */
@media only screen and (max-width: 768px) {

	/* NAGŁÓWEK */

	.header {
		padding-top: 2vh;
		padding-bottom: 2vh;
		box-shadow: 0vw 0vw 1vw lightgrey;
	}

	.logo {
		padding-top:0.5vh;
		font-size: 8vw;
	}

	/* PRZYCISK MENU */

	.icon {
		float: right;
		width: 8vw;
		height: 8vw;
		margin-right: 10vw;
		margin-top: 2.4vh;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
	}

	.icon span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 0.4vh;

		background: black;
		border-radius: 0.5vw;
		opacity: 1;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.icon span:nth-child(1) {
		top: 0vw;
	}

	.icon span:nth-child(2) {
		top: 2.5vw;
	}

	.icon span:nth-child(3) {
		top: 2.5vw;
	}

	.icon span:nth-child(4) {
		top: 5vw;
	}

	.icon.open span:nth-child(1) {
		top: 1vw;
		width: 0vw;
		left: 50%;
	}

	.icon.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.icon.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.icon.open span:nth-child(4) {
		top: 1vw;
		width: 0%;
		left: 50%;
	}

	/* MENU */

	.menu {
		width: 90vw;
		height: 0vh;
		overflow: hidden;
		transition: 0.2s;
	}

	.menu.open {
		height: 30vh;
	}

	.menu a {

		margin-top: 2vh;
		margin-left: 10vw;
		font-size: 5vw;
	}

	/* Ikony przycisków menu */
	.menu img {
		width: 7vw;
		padding-left: 0vw;
		margin-bottom: 0vh;
	}

	/* ZAWARTOŚĆ */

	.container {
		margin-top:16vh;
		width: 90vw;
	}

	.footer {
		margin-top:10%;
		font-size:2vw;
	}

	/* FORMULARZE */

	form {
		margin-top: 0vh
	}

	/* Pola tekstowe */
	input[type=text] {
		width: 80vw;
		font-size:5vw;
		border: 0.2vw solid #ccc;
	}

	/* Domyślnye wartości pól tekstowych */
	::placeholder {
		font-size: 5vw;
	}

	/* Pola tekstowe (email) */
	input[type=email] {
		width: 80vw;
		font-size:5vw;
	}

	/* FORMATOWANIE TEKSTU */

	h1 {
		font-size: 7vw;
	}

	p {
		font-size: 5vw;
	}
}
